@import 'dashboard/assets/scss/app';

*,
::before,
::after {
  --_histoire-color-primary-50: 227 251 89;
  --_histoire-color-primary-100: 233 251 125;
  --_histoire-color-primary-200: 127 149 3;
  --_histoire-color-primary-300: 110 129 3;
  --_histoire-color-primary-400: 110 129 3;
  --_histoire-color-primary-500: 110 129 3;
  --_histoire-color-primary-600: 110 129 3;
  --_histoire-color-primary-700: 110 129 3;
  --_histoire-color-primary-800: 110 129 3;
  --_histoire-color-primary-900: 110 129 3;
}

html,
body {
  font-family: 'Inter', sans-serif;
}
